
@{
    ViewData["Title"] = "AdaLovelace";
}

<div class="text-center">
    <h1>Ada Lovelace</h1><br /><br />
    <img id="ada2" src="~/Images/Ada-Lovelace.jpg" align="right" style="width: 350px; height: 450px" />
</div>
<table style="width:50%" border="1">
    <tr>
        <th>Born</th>
        <th>Died</th>
        <th>Born in</th>
        <th>Children</th>
        <th>Recognized For</th>
    </tr>
    <tr>
        <td>December 10, 1815</td>
        <td>November 27, 1852</td>
        <td>London, United Kingdom</td>
        <td>3</td>
        <td>Computing, Mathematics</td>
    </tr>
</table><br /><br />

    <div align="center" style="float: left; padding-bottom: 40px">
        <p>Augusta Ada Byron (aka Ada Lovelace) was born in December 10, 1815 to Anne Isabella<br />
        Milbanke and George Goradan Byron. She is the only legitimate daughter of of famous<br />
        Lord Byron, who was a leading figure in the Romantic Movement in the early 1800's.<br />
        Lovelace was known from an early age to show a passion for mathematics and science.<br />
            It wasn't until 1833 that Lovelace met the well know mathematician and inventor, Charles<br />
        Babbage, who at the time was most known for his work on the Difference Engine. After Babbage<br />
        discontinued work on the Difference Engine, he started working on the Analytical Engine,<br />
        which was a machine that designed to order whatever particular sequencce of operations<br />
        was needed. Though Babbage was the mastermind behind the Analytical Engine, it was Lovelace's<br />
        knowledge of the Bernoulli Numbers that allowed the Analytical Engine to perform an <br />
        operation. She was able to figure out how she could get the Analytical Engine to run by<br />
        designing the first algorithm or 'program', which is why she is often regarded as the first<br />
        computer programmer.</p>
    </div>

