
@{
    ViewData["Title"] = "AndrewCrosse";
}

<div class="text-center">
    <h1>Andrew Crosse</h1><br /><br />
    <img id="crosse2" src="~/Images/andrew-crosse-experiment.jpg" align="right" style="width: 400px; height: 450px; padding-bottom: 50px" />
</div>

<table style="width:50%" border="1">
    <tr>
        <th>Born</th>
        <th>Died</th>
        <th>Born in</th>
        <th>Children</th>
        <th>Recognized For</th>
    </tr>
    <tr>
        <td>June 17, 1784</td>
        <td>July 6, 1855</td>
        <td>Broomfield, United Kingdom</td>
        <td>10</td>
        <td>Electrocrystallization</td>
    </tr>
</table><br /><br />

