
@{
    ViewData["Title"] = "CharlesBabbage";
}

<div class="text-center">
    <h1>Charles Babbage</h1><br /><br />
    <img id="babbage2" src="~/Images/Charles-Babbage-detail-oil-painting-Samuel-Lawrence-1845.jpg" align="right" style="width: 350px; height: 450px; padding-bottom: 50px" />
</div>

<table style="width:50%" border="1">
    <tr>
        <th>Born</th>
        <th>Died</th>
        <th>Born in</th>
        <th>Children</th>
        <th>Recognized For</th>
    </tr>
    <tr>
        <td>December 26, 1791</td>
        <td>October 18, 1871</td>
        <td>London, United Kingdom</td>
        <td>8</td>
        <td>Mathematics, Engineering, Politics, Computer Science</td>
    </tr>
</table><br /><br />

