
@{
    ViewData["Title"] = "CharlesWheatstone";
}

<div class="text-center">
    <h1>Charles Wheatstone</h1><br /><br />
    <img id="wheatstone2" src="~/Images/charleswheatstone_original.jpg" align="right" style="width: 350px; height: 450px; padding-bottom: 50px" />
</div>

<table style="width:50%" border="1">
    <tr>
        <th>Born</th>
        <th>Died</th>
        <th>Born in</th>
        <th>Children</th>
        <th>Recognized For</th>
    </tr>
    <tr>
        <td>February 6, 1802</td>
        <td>October 19, 1875</td>
        <td>Barnwood, Gloucestershire, England</td>
        <td>5</td>
        <td>Physics</td>
    </tr>
</table><br /><br />

<div align="center" style="float: left; padding-bottom: 40px">
    <p>
        Charles Wheatstone was an English inventor and physicist in the 1800's. Known for <br />
        scientific breakthroughs such as the English concertina and Playfair cipher, Wheatstone <br />
        is most widely known for his contributions for the development of the Wheatstone bridge. <br />
        The Wheatstone bridge is used to measure unknown electrical resistance. Wheatstone was <br />
        an acquaintance of Ada Lovelace, and it was Wheatstone who commissioned Lovelace to <br />
        translate Menabrea's paper into English.
    </p>
</div>

