
@{
    ViewData["Title"] = "DavidBrewster";
}

<div class="text-center">
    <h1>David Brewster</h1><br /><br />
    <img id="brewster2" src="~/Images/EDII_RSE_PCF_15-001.jpg" align="right" style="width: 350px; height: 450px; padding-bottom: 50px" />
</div>

<table style="width:50%" border="1">
    <tr>
        <th>Born</th>
        <th>Died</th>
        <th>Born in</th>
        <th>Children</th>
        <th>Recognized For</th>
    </tr>
    <tr>
        <td>December 11, 1781</td>
        <td>February 10, 1868</td>
        <td>Jedburgh, United Kingdom</td>
        <td>5</td>
        <td>Mathematics, Physics, Astronomy</td>
    </tr>
</table><br /><br />

<div align="center" style="float: left; padding-bottom: 40px">
    <p>
        David Brewster is widely known for his experimental work in physical optics, which<br />
        resulted in him inventing an improved stereoscope, as well as inventing the kaleidoscope.<br />
        Brewster and Lovelace were acquaintances, and both wrote about Charles Babbage's Analytical<br />
        Engine.
    </p>
</div>

