
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>A history of Ada Lovelace</h1>
    <img id="img1" src="Images/ada-lovelace-20825279-1-402.jpg" alt="adalovelace" height="300" width="300" />
</div>
