
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>A history of Ada Lovelace</h1><br /><br />
    <img id="img1" src="Images/ada-lovelace-20825279-1-402.jpg" align="left" alt="adalovelace" style="border: 5px groove; height: 300px; width: 300px;"/>
</div>
<div align="center" style="border: 5px groove black; float: right;">
    <h3>Introduction</h3>
    <p>Ada Lovelace was a prominent mathematician and writer in the mid 1800's who is widely</p>
    <p>referred to as the first computer programmer. Lovelace's contribution to Charles Babbage's</p>
    <p>Analytical Engine gained her tremendous recognition and is believed to have paved the</p>
    <p>future for computer science.</p><br />
    <p>Lovelace was provided a series of private tutors at an early age to develop her</p>
    <p>analytical skills. Some of these tutors were very renowned mathematicians at the</p>
    <p>time, including Mary Somerville, Augustus De Morgan, and William Frend.</p>
</div>
