@model List<User>

@{
    ViewData["Title"] = "QuizResult";
}

<h1>Quiz Results</h1>

@{
    foreach (User user in Model)
    {
        <div class="card" style="width: 18rem;">
            <h3>Congratulations @user.UserName, you got @user.Score/5 answers correct!</h3>
        </div>
    }
}


