
@{
    ViewData["Title"] = "QuizPage";
}

<h1>Quiz Page</h1>

<form method="post">
    <p class="question">1. In what year was Lovelace's 'Note G' published?</p>
    
        <input type="radio" name="q1" value="a" id="q1a">
        <label for="q1a">1841</label>
        <br />

        <input type="radio" name="q1" value="b" id="q1b">
        <label for="q1b">1843</label>
        <br />

        <input type="radio" name="q1" value="c" id="q1c">
        <label for="q1c">1839</label>
        <br />

        <input type="radio" name="q1" value="d" id="q1d">
        <label for="q1d">1845</label>
        <br />


    <p class="question">2. How many children did Charles Babbage have?</p>
   
        <input type="radio" name="q21" value="a" id="q2a">
        <label for="q21a">8</label>
        <br />

        <input type="radio" name="q21" value="b" id="q2b">
        <label for="q21b">0</label>
        <br />

        <input type="radio" name="q21" value="c" id="q2c">
        <label for="q21c">1</label>
        <br />

        <input type="radio" name="q21" value="d" id="q2d">
        <label for="q21d">5</label>
        <br />
   

    <p class="question">3. What prototype was concieved before the Analytical Engine?</p>
    
        <input type="radio" name="q31" value="a" id="q3a">
        <label for="q31a">The Addition Engine</label>
        <br />

        <input type="radio" name="q31" value="b" id="q3b">
        <label for="q31b">The Multiplication Engine</label>
        <br />

        <input type="radio" name="q31" value="c" id="q3c">
        <label for="q31c">The Difference Engine</label>
        <br />

        <input type="radio" name="q31" value="d" id="q3d">
        <label for="q31d">The Division Engine</label>
        <br />
   

    <p class="question">4. What was Andrew Crosse widely recognized for?</p>
    
        <input type="radio" name="q41" value="a" id="q4a">
        <label for="q41a">Political Science</label>
        <br />

        <input type="radio" name="q41" value="b" id="q4b">
        <label for="q41b">Philosophy</label>
        <br />

        <input type="radio" name="q41" value="c" id="q4c">
        <label for="q41c">Mathematics</label>
        <br />

        <input type="radio" name="q41" value="d" id="q4d">
        <label for="q41d">Electrocrystallization</label>
        <br />
    

    <p class="question">5. What numbers were used to come up with the algorithm of the Analytical Engine?</p>
    
        <input type="radio" name="q51" value="a" id="q5a">
        <label for="q51a">Raviolli Numbers</label>
        <br />

        <input type="radio" name="q51" value="b" id="q5b">
        <label for="q51b">Ratatouille Numbers</label>
        <br />

        <input type="radio" name="q51" value="c" id="q5c">
        <label for="q51c">Bernoulli Numbers</label>
        <br />

        <input type="radio" name="q51" value="d" id="q5d">
        <label for="q51d">Eulerian Numbers</label>
        <br />
    
    <input type="submit" value="Submit Answers" />
</form>
