
@{
    ViewData["Title"] = "RedirectToQuizPage";
}

<h1>Oh no!</h1>
<h2>It looks like you didn't finish the quiz in time.</h2>
<h3>Would you like to try again?</h3>

<button onclick="window.location.href='QuizPage'">Yes</button>
<button onclick="window.location.href='Index'">No</button>

