
@{
    ViewData["Title"] = "SignificantPeople";
}

<h1>Significant People regarding Ada Lovelace</h1>
<table style="width:50%" border="1">
    <tr>
        <td><img id="babbage1" src="~/Images/charles-babbage-wc-9193834-1-402.jpg" style="height: 75px; width: 75px" /></td>
        <td><a href="CharlesBabbage">Charles Babbage</a></td>
    </tr>
    <tr>
        <td><img id="brewster1" src="~/Images/David-Brewster.jpg" style="height: 75px; width: 75px" /></td>
        <td><a href="DavidBrewster">David Brewster</a></td>
    </tr>
    <tr>
        <td><img id="crosse1" src="~/Images/Andrew_Crosse.jpg" style="height: 75px; width: 75px" /></td>
        <td><a href="AndrewCrosse">Andrew Crosse</a></td>
    </tr>
    <tr>
        <td><img id="wheatstone1" src="~/Images/Charles_Wheatstone_md.jpg" style="height: 75px; width: 100px" /></td>
        <td><a href="CharlesWheatstone">Charles Wheatstone</a></td>
    </tr>
</table>


